body {
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

input {
    font-size: 16px;
    padding: 4px;
}

p {
    margin: 0;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

section {
    width: 50%;
    min-width: 300px;
}

span {
    font-size: 12px;
}

.helper-text {
    color: gray;
    margin: 0;
}

.row {
    margin-top: 1em;
}

.row label {
    display: block;
    min-width: 10em;
}

.row input,
.row textarea {
    width: 100%;
}

.container .row {
    position: relative;
}

#list {
    display: none;
    position: absolute;
    background: white;
    margin: 0;
    padding: 6px;
    list-style: none;
    width: 100%;
    border: 1px solid black;
}

#list li {
    padding: 6px 0;
    cursor: pointer;
    transition: 0.4s;
}

#list li:hover,
#list li.active {
    background: rgba(0, 0, 0, 0.3);
}

#list li:focus {
    outline: none;
}
